{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Quiz</title>
</head>

<body>
    <main>
            {% for question, answers in ques_answers %}

            {% if forloop.first %}
            <div class="step active" id="step{{forloop.counter}}">
                {% else %}
                <div class="step" id="step{{forloop.counter}}">
                    {% endif %}

                    <div class="app">
                        <h1>Simple Quiz</h1>
                        <div class="quiz">
                            <h2 id="question">{{forloop.counter}}. {{question}}</h2>
                           
                            <div id="answer-buttons">
                                {% for answer in answers %}
                                <button class="ans-btn ques-{{question.id}}" id="{{question.id}}-{{answer.id}}"
                                    onclick="checkAnswer('{{question.id}}-{{answer.id}}','{{question.id}}', '{{answer.correct}}')">{{forloop.counter}}.
                                    {{answer}}</button>
                                {% endfor %}
                            </div>
                        
                            <button class="prevBtn" onclick="moveStep(-1)">Previous</button>
                            <button class="nextBtn" onclick="moveStep(1)">Next</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function checkAnswer(id,ques, correct_ans){
            // alert('Check answers clicked. : ');
            // alert(ques)
            const ansButton = document.getElementById(id);
            if (correct_ans === 'True'){
                ansButton.classList.add("correct");
            }else{
                ansButton.classList.add("incorrect");
            }

        const question = document.getElementsByClassName('ques-' + ques);
            Array.from(question).forEach(element => {
                element.disabled = true;
            });

        }
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>